

<div class="container">
    <h1> Add a Person to Scholar</h1>
    <div class="row">
        <div class="col-xs-8  cols">
            <label for="name"> Student Name</label>
            <input class="form-control"[(ngModel)]="name" type="text"/> 
            <br>
            <label for="name"> Student Email</label>
            <input class="form-control"[(ngModel)]="email" type="text"/>
            <br>
            <div class="col-xs-8">
            <select class="form-select form-select-sm" [(ngModel)]="role">
                <option value="Student">Student</option>
                <option value="Teacher">Teacher</option>
            </select>
            </div>

            <br>
            <div class="row">
                <!-- <div class="col-xs-4">
                    <button (click)=" addStudent() " class="btn btn-success">Add Student</button>
                </div> -->
                <div class="col-xs-4">
                    <button (click)="addTeacher()"class="btn btn-primary">Add Teacher</button>
                </div>
            </div>
           
        </div>
    </div>
</div>
